{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<body>
    <h1>Welcome to <em>Simply Sprouts!</em></h1>

    <div class="container welcome-message">
        <div class="row">
            <p>
                Welcome to <strong><em>Simply Sprouts</em></strong>, your ultimate destination for all things vegetarian
                and vegan!
            </p>
            <br>
            <img src="{% static 'images/alyson-mcphee-yWG-ndhxvqY-unsplash.jpg' %}"
                alt="Photo by Alyson McPhee on Unsplash" title="Photo by Alyson McPhee on Unsplash">
            <br>
            <p>Here, we celebrate the vibrant world of plant-based cooking by hosting a diverse collection of delicious
                recipes
                that cater to every palate. Whether you're a seasoned vegetarian, a curious omnivore, or just starting
                your journey towards a more plant-based lifestyle, our website serves as a community hub where you can
                find inspiration, share ideas, and connect with like-minded individuals.</p>
            <br>
            <img src="{% static 'images/jason-briscoe-KTrov7eujms-unsplash.jpg' %}"
                alt="Photo by Jason Briscoe on Unsplash" title="Photo by Jason Briscoe on Unsplash">
            <br>
            <p>
                At <strong><em>Simply Sprouts</em></strong>, we believe that cooking and eating should be enjoyable
                experiences filled with creativity and flavor. Join us as we
                explore the benefits of a vegetarian lifestyle, discover new culinary techniques, and foster a
                supportive environment for everyone passionate about healthy, sustainable living!
            </p>
            <br>
            <img src="{% static 'images/eugen-kucheruk-TvcjBk5y0wU-unsplash.jpg' %}"
                alt="Photo by Eugen Kucheruk on Unsplash" title="Photo by Eugen Kucheruk on Unsplash">
            <br>
        </div>
    </div>

    <hr>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Featured Recipes</h2>
        <div class="container recipe-randomiser-message text-center">
            <p>
                Please see today's featured recipes below!
            </p>
        </div>
        <div class="row">
            {% for recipe in random_recipes %}
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h2 class="card-title recipe-title">
                            <a href="{% url 'recipes:recipe_detail' recipe.slug %}">
                                <div class="image-container">
                                    {% if recipe.image %}
                                    <img class="recipe_image img-fluid" src="{{ recipe.image.url }}"
                                        alt="{{ recipe.title }}">
                                    {% else %}
                                    <img class="recipe_image img-fluid"
                                        src="{% static 'images/Recipe-Placeholder.jpg' %}" alt="{{ recipe.title }}">
                                    {% endif %}
                                </div>

                            </a>
                            <a href="{% url 'recipes:recipe_detail' recipe.slug %}"
                                class="recipe-link">{{recipe.title}}</a>
                        </h2>
                        <p class="card-text recipe-creator">Author: {{recipe.creator}}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No recipes found.</p>
            {% endfor %}
        </div>
    </div>


</body>

</html>

{% endblock %}