{% extends 'base.html' %}

{% block title %}
{{ cuisine }} Recipes
{% endblock %}

{% block content %}
<h1>{{ cuisine }} Recipes</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for recipe in recipes %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <h2 class="card-title recipe-title">
                    <a href="{% url 'recipes:recipe_detail' recipe.slug %}">
                        <div class="image-container">
                            <img class="recipe_image img-fluid" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                        </div>
                    </a>
                    <a href="{% url 'recipes:recipe_detail' recipe.slug %}" class="recipe-link">{{recipe.title}}</a>
                </h2>
                <p class="card-text recipe-creator">Author: {{recipe.creator}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No recipes found for {{ cuisine }}.</p>
    {% endfor %}
</div>
{% endblock %}