{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block html_class %}
dark
{% endblock %}

{% block title %}
{{recipe.title}}
{% endblock %}

{% block content %}
<!-- Main Blog Page content-->
<h1>{{recipe.title}}</h1>
<p class="blog_post-details">Written by: <u>{{recipe.creator}}</u> | {{recipe.created_on}} </p>
<span class="recipe_serves"><i class="fa-solid fa-user-group"></i> Serves: {{ recipe.serves }}</span>
<hr>
<div class="text-center">
    <div class="recipe_image-container">
        <img class="recipe_image-jumbo img-fluid" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    </div>
</div>
<hr>

<article class="recipe_notes">
    <h3>Notes:</h3>
    {{recipe.notes | safe }}
</article>
<hr>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <div class="p-3 border bg-dark">
                <article class="recipe_ingredients">
                    <h3>Ingredients:</h3>
                    {{recipe.ingredients | safe }}
                </article>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="p-3 border bg-dark">
                <article class="recipe_method">
                    <h3>Method:</h3>
                    {{recipe.method | safe }}
                </article>
            </div>
        </div>
    </div>
</div>

<h2>Reviews</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
        <div class="p-3 border bg-dark">
            <div class="current-reviews-column">
                <h2 class="mb-4">Current Reviews</h2>
                {% for review in reviews %}
                <div class="review mb-4">
                    <div class="review_body" id="review{{ review.id }}">
                        {% if review.approved %}
                        <h3>{{ review.title }}</h3>
                        <div class="rating-stars">
                            {% for i in "12345"|make_list %}
                            {% if forloop.counter <= review.rating %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                        <p>Reviewed by <em><u>{{ review.author }}</u></em> on <em>{{ review.created_on }}</em></p>
                        {% if review.image %}
                        <img src="{{ review.image.url }}" alt="{{ review.title }}" class="img-fluid mb-3">
                        {% endif %}
                        <p>{{ review.content | safe }}</p>
                        {% else %}
                        <h3>{{ review.title }} (Pending Approval)</h3>
                        <p>Your review is currently under moderation and will be visible once approved.</p>
                        {% endif %}

                        {% if user == review.author %}
                        <div class="review_edit_buttons mb-3">
                            <a href="{% url 'recipes:edit_review' slug=recipe.slug review_id=review.id %}"
                                class="btn btn-info btn-sm btn-edit-review btn-edit"
                                data-url="{% url 'recipes:edit_review' slug=recipe.slug review_id=review.id %}">Edit
                                Review</a>
                            <a href="{% url 'recipes:delete_review' slug=recipe.slug review_id=review.id %}"
                                class="btn btn-danger btn-sm btn-delete-review" data-review-id="{{ review.id }}">Delete
                                Review</a>
                        </div>
                        {% endif %}
                    </div>

                    <h4><i class="far fa-comments"></i> Comments: </h4>
                    {% for comment in review.comments.all %}
                    {% if comment.approved %}
                    <div class="comment">
                        <p><em><u>{{ comment.author }}</u></em> wrote:</p>
                        <hr>
                        <p>{{ comment.body }}</p>
                        <hr>
                        <p><em>On {{ comment.created_on }}</em></p>
                        {% if user == comment.author %}
                        <a href="{% url 'recipes:review_comment_edit' slug=recipe.slug review_id=review.id comment_id=comment.id %}"
                            class="btn btn-info btn-sm btn-edit-comment btn-edit"
                            data-url="{% url 'recipes:review_comment_edit' slug=recipe.slug review_id=review.id comment_id=comment.id %}">Edit
                            Comment</a>
                        <a href="{% url 'recipes:review_comment_delete' slug=recipe.slug review_id=review.id comment_id=comment.id %}"
                            class="btn btn-danger btn-sm btn-delete-comment btn-delete"
                            data-url="{% url 'recipes:review_comment_delete' slug=recipe.slug review_id=review.id comment_id=comment.id %}"
                            data-comment-id="{{ comment.id }}">Delete Comment</a>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="comment">
                    <p>Your comment is currently under moderation and will be visible once approved.</p>
                </div>
                {% endif %}
                {% endfor %}

                    {% if user.is_authenticated %}
                    <form method="post"
                        action="{% url 'recipes:add_review_comment' slug=recipe.slug review_id=review.id %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <br>
                        <div class="comment-buttons">
                            <button class="btn text-center btn-info" type="submit" name="comment_submit">Add
                                Comment</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 mb-3">
        <div class="p-3 border bg-dark">
            <div class="new-review-column">
                <h2 class="mb-4">Leave a Review</h2>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'recipes:submit_review' recipe.slug %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy review_form %}
                </form>
                {% else %}
                <div class="alert alert-info" role="alert">
                    <p class="text-start m-3">You are not currently logged in - please
                        <a href="{% url 'account_signup' %}">Register</a> or
                        <a href="{% url 'account_login' %}">Login</a> to access the site's full features!
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<!-- native JavaScript -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}