{% extends "base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}

<body>
    <h1 class="blog-title p-4" style="text-align: center; font-size: 5rem;">Blog Posts</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {% for blog_post in blog_posts %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h2 class="card-title blog-article-title">
                            <a href="{% url 'blog_post_detail' blog_post.slug %}" class="post-link">{{blog_post.title}}</a>
                        </h2>
                        <p class="card-text blog-excerpt">{{blog_post.excerpt}}</p>
                        <p class="card-text blog-author">Author: {{blog_post.author}}</p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>

     <!-- Pagination -->
     {% if is_paginated %}
     <nav aria-label="Page navigation" class="mt-4">
         <ul class="pagination justify-content-center">
             {% if page_obj.has_previous %}
             <li class="page-item">
                 <a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}"
                     aria-label="Previous">
                     <span aria-hidden="true">&laquo; Previous</span>
                 </a>
             </li>
             {% endif %}
 
             {% for num in page_obj.paginator.page_range %}
             {% if page_obj.number == num %}
             <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
             {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
             <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
             {% endif %}
             {% endfor %}
 
             {% if page_obj.has_next %}
             <li class="page-item">
                 <a class="page-link" href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}"
                     aria-label="Next">
                     <span aria-hidden="true">Next &raquo;</span>
                 </a>
             </li>
             {% endif %}
         </ul>
     </nav>
     {% endif %}


</body>

{% endblock %}