<!DOCTYPE html>
{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<html lang="en" class="{% block html_class %}{% endblock %}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simply Sprouts | {% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://kit.fontawesome.com/e161fa0639.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
          <!-- Added align-items-center -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">Simply Sprouts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'recipes:recipes_main' %}">All Recipes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Recipes by cuisine
              </a>
              <ul class="dropdown-menu bg-dark">
                {% for code, name in CUISINE_CHOICES %}
                <li><a class="dropdown-item bg-dark" href="{% url 'recipes:cuisine_recipes' code %}">{{ name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_main' %}">Our Blog</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == submit_recipe_url %}active{% endif %}" aria-current="page"
                href="{% url 'recipes:submit_recipe' %}">Submit Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" aria-current="page"
                href="{% url 'profile' %}">Edit Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}

          </ul>
          <form class="d-flex mb-2 mb-lg-0 align-items-center" role="search" action="{% url 'search' %}" method="GET">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search-button" type="submit">
              <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
              <span class="label">Search</span>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- User confirmation-->
    {% if user.is_authenticated %}
    <div class="text-end m-3 d-flex align-items-center justify-content-end">
      <img
        src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'images/default_profile.png' %}{% endif %}"
        alt="{{ user.username }}" class="rounded-circle me-2" width="30" height="30">
      <p class="mb-0">Hello, <a href="{% url 'profile' %}">{{ user }}</a>!</p>
    </div>
    {% else %}
    <p class="text-end m-3">You are not currently logged in - please <a href="{% url 'account_signup' %}">Register</a>
      or <a href="{% url 'account_login' %}">Login</a> to
      access
      the site's full features!</p>
    {% endif %}


    <!-- User Messages -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible
        fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </header>

  <main>

    {% block content %}
    {% endblock %}

  </main>

  <footer class="footer-bar bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>
          <p>
            We are a team dedicated to providing the best recipes and culinary experiences.
          </p>
        </div>

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <p>Email: contact@simply-sprouts.com</p>
          <p>Phone: +123456789</p>
        </div>
      </div>

      <hr class="my-4">

      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <h5 class="text-uppercase">Follow Us</h5>
          <a href="https://www.facebook.com/Code.InstituteIRL/?locale=en_GB" target="_blank" class="text-white me-4" aria-label="Follow us on Facebook"><span class="icon-wrapper"><i class="fab fa-facebook-f" aria-hidden="true"></i></span></a><a href="https://bsky.app/starter-pack-short/FYjVVoP" target="_blank" class="text-white me-4" aria-label="Follow us on Bluesky"><span class="icon-wrapper"><i class="fa-brands fa-bluesky" aria-hidden="true"></i></span></a><a href="https://www.instagram.com/codeinstitute/" target="_blank" class="text-white me-4" aria-label="Follow us on Instagram"><span class="icon-wrapper"><i class="fab fa-instagram" aria-hidden="true"></i></span></a><a href="https://uk.linkedin.com/school/code-institute/" target="_blank" class="text-white me-4" aria-label="Follow us on LinkedIn"><span class="icon-wrapper"><i class="fab fa-linkedin-in" aria-hidden="true"></i></span></a>
      </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.1);">
      © 2024 Simply Sprouts
    </div>
  </footer>

  <!-- Bootstrap JS -->
<script>
  const recipeSlug = "{{ recipe.slug }}";
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>

{% block extras %}
{% endblock %}

</body>

</html>